.main_container {
  display: flex;
  justify-content: space-around;
}

.error {
  margin-top: 1.6rem;
}

@media (max-width: 768px) {
  .main_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
